.hero-image {
  width: 100%;
  position: relative;
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-image img:nth-child(2) {
  display: none;
}
@media (max-width: 768px) {
  .hero-image {
    aspect-ratio: 0.74;
  }
  .hero-image img:nth-child(1) {
    display: none;
  }
  .hero-image img:nth-child(2) {
    object-fit: cover;
    display: block;
  }
  .hero-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.0001),
      rgba(0, 0, 0, 0.0001)
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.65) 100%);
  top: 0;
  z-index: 0;
}
.hero-text {
  color: white;
  z-index: 1;
}
.hero-text h6 {
  padding: 1% 0;
}
.hero-text h4 {
  padding: 1% 0;
}
.hero-text p {
  padding: 1% 0;
}
.forCenter {
  display: flex;
  justify-content: center;
}
.search-container {
  position: absolute;
  top: 10rem;
}
.input-field input {
  width: 350px;
  height: 40px;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  outline: none;
}

.searchedProduct {
  width: 350px;
  max-height: 200px;
  overflow-y: auto; /* Enable vertical scrollbar */
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-bottom: 15px;
}
.filtered {
  width: 100%;
  border-bottom: 1px solid black;
  padding: 10px 8px;
}
.filtered p {
  width: 80%;
  white-space: nowrap; /* Prevents wrapping onto a new line */
  overflow: hidden; /* Ensures overflow content is hidden */
  text-overflow: ellipsis;
  color: black;
}
.filtered p:hover {
  color: blue;
}
.innerGradient {
  display: flex;
  align-items: end;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
