.invoice {
  margin-top: 20px;
  margin-bottom: 25px;
  overflow-x: auto;
}
.invoice-box {
  max-width: 800px;

  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: var(--shadow-for-invoice);
  font-size: 16px;
  line-height: 24px;
  color: var(--content-color);
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
  border-collapse: collapse;
}

.invoice-box table td,
.invoice-box table th {
  padding: 5px;
  vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
  text-align: left;
}

.invoice-box table tr.top table td {
  border-bottom: 1px solid #555;
  padding-bottom: 20px;
}

.invoice-box table tr.information table td {
  padding-bottom: 40px;
}

.invoice-box table tr.invoice-heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.invoice-box table tr.invoice-details td {
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}

.invoice-box table tr.item td {
  border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
  border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}
.downloadpdf {
  width: 11rem;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.dummy-invoice {
  width: 800px;
  height: max-content;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: var(--shadow-for-invoice);
  font-size: 16px;
  line-height: 24px;
  color: #555;
}
