@media only screen and (max-width: 1440px) {
  .container {
    max-width: 1320px;
    margin: 0 3%;
  }

  .viewAllProduct {
    max-width: 100%;
    font-size: 12.8px;
    font-weight: 400;
    line-height: 10.67px;
    letter-spacing: 0.6399233341217041px;
    text-align: center;
  }
  .blogs {
    margin-top: 2%;
    padding-top: 37px;
    padding-bottom: 24.26px;
  }
  .blogs h6 {
    font-size: 10.67px;
    margin-bottom: 10px;
  }
  .blogs h4 {
    font-size: 15px;
  }
  .hero-text {
    width: 70%;
  }
  .testimonials {
    width: 80%;
  }
  .blog-card p {
    font-size: 9.95px;
    font-weight: 400;
    line-height: 15.64px;
    letter-spacing: 0.4977182149887085px;
  }
  .social-media-container {
    --number-of-cards: 4;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    max-width: 960px;
    margin: 0 3%;
  }
  .product-list {
    --cards-per-row: 3;
    gap: 20px;
  }
  .card {
    width: calc(100% / var(--cards-per-row) - 20px);
  }
  .social-media-container {
    --number-of-cards: 3;
  }
  .social-media-card {
    width: calc(100% / var(--number-of-cards) - 20px);
  }
  .testimonials {
    --blogs-per-row: 2;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 5%;
  }

  .about-home {
    margin-top: 20px;

    /* background-color: #f7f7f9; */
    background-color: var(--bg-color-for-blog);
  }

  .about-content {
    width: 94%;
    margin: 0 3%;
    flex-direction: column-reverse;
  }

  .about-content .row:nth-child(1) {
    flex-direction: column-reverse;
  }

  .about-content .row:nth-child(2) {
    flex-direction: column-reverse;
  }

  .content-box {
    width: 100%;
    padding: 0;
  }

  .about-image {
    width: 100%;
  }
  .content {
    margin-top: 20px;
  }
  .content h6 {
    font-size: 0.8rem;
    padding-bottom: 2px;
  }

  .products {
    padding-top: 26px;
    padding-bottom: 15px;
  }

  .testimonials {
    width: 90%;
    justify-content: space-between;
  }

  .blogs {
    padding-top: 30px;
  }
  .blog-card {
    margin-bottom: 17px;
    margin-top: 5px;
  }

  .socalmedia {
    margin-top: 25px;
  }
  .socalmedia h6 {
    font-size: 0.7rem;
  }

  .socalmedia h5 {
    font-size: 0.99rem;
  }

  .btn-sub {
    width: 100%;
  }

  .trademark {
    padding: 5px;
    font-size: 0.8rem;
  }
  .details {
    width: 38%;
  }
  .imagecol img {
    width: 100%;
    height: auto;
  }
  .cart-summary {
    width: 58%;
  }
  .order-summary {
    width: 39%;
  }
  .placeSection {
    width: 100%;
  }
  .terms p {
    font-size: 0.78rem;
  }
  .dilevery-heading h6 {
    font-size: 0.8rem;
  }
  .dilevery-address p {
    font-size: 0.8rem;
  }
  .review-heading h6 {
    font-size: 0.8rem;
  }
  .buttonForFooter {
    width: 100%;
  }
  .belowSmallScreen {
    width: 100%;
  }
  .invoice-box {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 666px) {
  .container {
    max-width: 645px;
  }
  .pro-heading {
    padding-bottom: 17px;
  }
  .testimonials {
    justify-content: center;
  }
  .blog-card {
    width: 80%;
  }
  .product-row {
    flex-wrap: wrap;
  }

  .forSwap {
    width: 35%;
  }
  .details {
    width: 45%;
  }
  .details p:nth-child(1) {
    font-size: 0.8rem;
  }
  .details p:nth-child(2) {
    font-size: 0.9rem;
  }
  .order-div {
    flex-direction: column;
  }
  .cart-summary {
    width: 100%;
  }
  .order-summary {
    margin-top: 20px;
    width: 100%;
  }
  .placeSection {
    width: 100%;
  }
  .terms p {
    font-size: 0.78rem;
  }
  .dilevery-heading h6 {
    font-size: 0.8rem;
  }
  .dilevery-address p {
    font-size: 0.8rem;
  }
  .review-heading h6 {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 575px) {
  .container {
    max-width: 540px;
  }
  .product-list {
    --cards-per-row: 2;
    gap: 15;
  }
  .imagecol {
    display: none;
  }
  .card {
    width: calc(100% / var(--cards-per-row) - 15px);
  }
  .heading {
    padding: 5px;
  }

  .heading p {
    font-size: 0.8rem;
  }

  .head-img img {
    width: 45%;
    transform: scale(1);
  }

  .nav-item ul li {
    padding: 1%;
    padding-left: 0.8rem;
  }

  .nav-item ul li a {
    font-size: 0.6rem;
  }

  .hero-text {
    width: 90%;
  }

  .empty {
    display: none;
  }

  .head-img {
    justify-content: start;
  }

  .head-icons {
    width: 200px;
  }
  .social-media-container {
    --number-of-cards: 2;
  }
  .social-media-card {
    width: calc(100% / var(--number-of-cards) - 15px);
  }
  .details {
    width: 100%;
  }
  .forSwap {
    width: 60%;
    margin-left: 15%;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    max-width: 400px;
  }
  .login-form {
    width: 100%;
    display: block;
  }
  .signup-form {
    width: 100%;
    display: block;
  }
  .login-form p:nth-child(1) {
    text-align: center;
    font-size: 1rem;
  }
  .login-form p:nth-child(2) {
    text-align: center;
    font-size: 0.8rem;
  }
  .email {
    width: 100%;
    margin-left: 0;
  }
  .emailInput {
    width: 100%;
    margin-left: 0 !important;
  }
  .previousButton {
    width: 100%;
    margin-left: 0;
  }
  .nameInput {
    margin-left: 0;
    width: 100%;
  }
  .pass {
    width: 100%;
    margin-left: 0px;
  }
  .form-at-smallscreen {
    width: 100%;
  }
  .password {
    width: 100%;
  }
  .nameerror {
    margin-left: 0;
  }
  .passInput {
    width: 100%;
    margin-left: 0 !important;
  }
  .submitButton {
    width: 100%;
    margin-left: 0;
    cursor: pointer;
  }
  .nextButton {
    width: 100%;
    margin-left: 0 !important;
    text-align: center;
    cursor: pointer;
  }
  .progress-bar {
    width: 100%;
    padding-left: 0;
    display: flex;
    justify-content: center;
  }
  .line {
    width: 2rem;
  }
  .log {
    text-align: center;
  }
  .viewAllProduct {
    margin-bottom: 20px;
  }
  .placeSection {
    display: flex;
    flex-direction: column;
  }
  .placeButton {
    width: 100%;
  }

  .terms {
    margin-top: 15px;
  }
  .terms p {
    font-size: 0.78rem;
  }
  .dilevery-heading h6 {
    font-size: 0.7rem;
  }
  .dilevery-address p {
    font-size: 0.7rem;
  }
  .review-heading h6 {
    font-size: 0.7rem;
  }
  .cart {
    width: 350px;
  }
  .pro-image {
    max-width: none;
    width: 150px;
  }
  .search-container {
    position: absolute;
    top: 25%;
    width: 55%;
  }
  .input-field {
    top: 20%;
    width: 100%;
  }
  .input-field input {
    width: 100%;
    height: 30px;
  }
  .searchedProduct {
    width: 100%;
    max-height: 100px;
    height: fit-content;
    font-size: 0.8rem;
  }
  .footer-join {
    margin-top: 15px;
  }
  .login-with-google-btn {
    width: 100%;
    margin-left: 0;
    background-position: (15px 11px);
  }
  .text-start {
    width: 100%;
  }
  .mt-5 {
    width: 100%;
  }
  .github-btn {
    width: 100%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    max-width: 100%;
  }
  .product-list {
    --cards-per-row: 1;
    gap: 0;
  }
  .card {
    width: calc(100% / var(--cards-per-row));
  }
  .heading p {
    font-size: 0.6rem;
    padding: 2px;
  }
  .nav-item ul li:hover {
    border-bottom: 2px solid #ff9966;
  }
  .head-img img {
    width: 45%;
    transform: scale(1.5);
  }

  .hero-text h6 {
    font-size: 0.6rem;
  }

  .hero-text h4 {
    font-size: 0.8rem;
  }

  .hero-text p {
    margin-top: 10px;
    font-size: 0.6rem;
  }
  .blog-card {
    margin-top: 5px;
  }
  .social-media-container {
    --number-of-cards: 1;
  }
  .social-media-card {
    width: calc(100% / var(--number-of-cards));
  }
  .footer-about-2nd {
    max-width: 134px;
    max-height: 221px;
  }
  .footer-customer {
    max-width: 134px;
    max-height: 221px;
  }
  .changeQuantity {
    width: 90px;
  }
  .login-with-google-btn {
    background-position: 23% 11px;
  }
}
@media only screen and (max-width: 350px) {
  .cart {
    width: 100%;
  }
}
