.signup-form {
  display: flex;
  color: var(--content-color);
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 25px;
}

.head {
  margin-top: 3rem;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  margin-left: 36%;
}
.progress-bar {
  width: 350px;
  height: 40px;
  margin-top: 2rem;
  padding-left: 3rem;
}
.round {
  width: 30px;
  height: 30px;
  border: 1px solid #ff9966;
  border-radius: 50%;

  display: inline-block;
  margin-top: 0.3rem;
  padding: 5px;
  padding-left: 8px;
}
.line {
  display: inline-block;
  width: 3rem;
}
.signup-heading {
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1.100000023841858px;
}

.signup-form p {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  font-weight: 400;
  line-height: 13.39px;
  letter-spacing: 1.100000023841858px;
}
.mt-5 {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
}
.text-start {
  display: flex;
  flex-direction: column;
}
.emailInput {
  margin-top: 2rem;
  width: 350px;
  height: 40px;
  padding-left: 0.5rem;
  border: 1px solid grey;
  border-radius: 0;
}
.passInput {
  margin-top: 2rem;
  width: 350px;
  height: 40px;
  padding-left: 0.5rem;
  border: 1px solid grey;
  border-radius: 0;
}
.nextButton {
  margin-top: 2rem;
  width: 350px;
  height: 40px;
  text-align: center;
  border: none;
  color: white;
  background-color: #ff9966;
  border-radius: 0;
  cursor: pointer;
}
.previousButton {
  margin-top: 2rem;
  width: 350px;
  height: 40px;
  padding-left: 0.5rem;
  border: none;
  color: white;
  background-color: #ff9966;
  border-radius: 0;
  cursor: pointer;
}

.nameInput {
  margin-top: 2rem;
  width: 350px;
  height: 40px;
  padding-left: 0.5rem;
  border: 1px solid grey;
  border-radius: 0;
}
.error {
  color: red;
  margin-top: 0.2rem;
  font-size: 0.9rem;
}

.form-at-smallscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
