.order {
  margin-top: 25px;
  color: var(--content-color);
}
.order-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.cart-summary {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.delivery,
.payment {
  display: flex;
  border-bottom: 1px solid #e2e2e2;
}
.dilevery-heading {
  padding: 20px;
  font-size: 22px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 1.100000023841858px;
}
.dilevery-address {
  padding: 20px;
}

.dilevery-address p:nth-child(2) {
  margin-top: 10px;
}
.review-items {
  display: flex;
  flex-direction: column;
}
.review-heading {
  padding: 20px;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1.100000023841858px;
}
.review-products {
  display: flex;
  flex-direction: column;
}
.pro-cart {
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  padding: 15px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pro-image {
  height: 100%;
  max-width: 138px;
  aspect-ratio: 0.8;
  background-color: var(--card-background-color);
  padding: 5px 0;
}
.pro-image img {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  object-fit: contain;
}
.pro-content {
  padding: inherit;
}
.pro-content h6 {
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 1.100000023841858px;
}
.pro-content p {
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 10px;
  letter-spacing: 0.75px;
}
.pro-content strong {
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
}
.placeSection-box {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.placeSection {
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  width: 70%;
  display: flex;
  column-gap: 15px;
}
.terms h5 {
  text-align: start;
}
.terms p {
  margin-top: 8px;
  font-size: 0.9rem;
  text-align: left;
}
.order-summary {
  width: 28%;
  display: flex;
  padding-top: 20px;
  padding: 20px 20px;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  height: fit-content;
}
.order-summary p:nth-child(2) {
  margin-top: 15px;
  font-size: 0.8rem;
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 15px;
}

.order-summary h5:nth-child(3) {
  margin-top: 15px;
  margin-bottom: 15px;
}
.breakdown {
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.order-price-breakdown {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 3px;
}
.order-price-breakdown h4 {
  font-weight: 600;
  font-size: 1.2rem;
}
.your-savings {
  border-top: 1px solid #e2e2e2;
  padding-top: 10px;
  margin-top: 15px;
  width: 100%;
  text-align: left;
  letter-spacing: 0.5px;
}
.your-savings h5 {
  margin-top: 10px;
  margin-bottom: 8px;
}
.your-savings ul {
  margin-left: 15px;
}
.your-savings ul li {
  line-height: 20px;
  font-size: 0.8rem;
}
.placeButton {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 15px;
}
.belowSmallScreen {
  width: 10rem;
  padding: 9px;
}
